.about-me-wrapper {
  font-family: 'Audiowide', cursive;
}

@media only screen and (min-width: 501px) {
  /* desktop */
  .about-me-wrapper {
    padding: 20px 30px;
    font-size: 20px;
    line-height: 28px;
    font-family: 'Audiowide', cursive;
  }
  
}

@media only screen and (max-width: 500px) {
  /* mobile */
  .about-me-wrapper {
    padding: 10px 15px;
    font-size: 16px;
    line-height: 28px;
  }
  
}