.about-me-wrapper {
  font-family: 'Oswald', sans-serif;
  color: #DCE0D9;
}

.about-me-social-media-wrapper {
  text-align: center;
  font-family: 'Oswald', sans-serif;
}

.about-me-link {
  text-decoration: none;
  color: #DCE0D9;
}

.about-me-heading, .about-me-retainable-wrapper-heading {
  color: #80a1c1;
}


/* style overrides for RTB/medium feed */

.rtb-col > div >  a > h2 {
  font-family: 'Oswald', sans-serif;
  color: #DCE0D9;
}

.rtb-col > div >  a {
  text-decoration: none;
}

.medium-feed-link > a {
  display: none;
  text-decoration: none;
  font-family: 'Oswald', sans-serif;
  color: #DCE0D9;
}

.author {
  display: none;
}

.read-more {
  display: none;
}

/* style overrides for RTB/medium feed END */

@media only screen and (min-width: 501px) {
  /* desktop */
  .about-me-heading {
    font-size: 32px;
  }
  .about-me-heading, .about-me-subheading, .about-me-extended-wrapper-subheading {
    margin: 0 20px;
  }

  .about-me-subheading, .about-me-extended-wrapper-subheading {
    font-size: 24px;
  }
  .about-me-content-wrapper {
    margin-top: 10vh;
  }
  .about-me-wrapper {
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;
  }
  .about-me-text-wrapper {
    margin-left: 20vw;
  }

  .about-me-heading, .about-me-subheading, .about-me-extended-wrapper  {
    text-align: left;
  }

  .about-me-extended-wrapper {
    margin-top: 39.5vh;
  }

  .about-me-social-media-wrapper {
    margin-top: 10vh;
  }

  .about-me-link {
    margin: 0 20px;
    font-size: 18px;
  }

  .about-me-retainable-wrapper {
    padding: 60px 30px;
  }

  .about-me-retainable-wrapper-heading {
    text-align: center;
    padding: 20px;
  }
}

@media only screen and (max-width: 500px) {
  /* mobile */
  .about-me-content-wrapper {
    padding: 2%;
  }
  .about-me-text-wrapper {
    text-align: center;
  }

  .about-me-subheading {
    font-size: 18px;
  }


  .about-me-image-wrapper {
    max-height: 35vh;
    max-width: 37vw;
    margin: 0 auto;
  }

  .about-me-image-wrapper > img {
    max-height: 35vh;
    max-width: 37vw;
    align-self: center;
  }

  .about-me-social-media-wrapper {
    margin-top: 5vh;
  }

  .about-me-link {
    margin: 0 10px;
    font-size: 16px;
  }


  .about-me-retainable-wrapper {
    padding: 10px 15px;
  }

  .about-me-retainable-wrapper-heading {
    text-align: center;
    padding: 10px;
  }
}