.project-type-wrapper {
  display: flex;
  justify-content: space-between;
}

.professional-projects-wrapper {
  text-align: center;
  /* centers it to the opposite axis of what the flexbox is (flexbox distributes along the x axis, this will align it on the Y axis  */
  align-self: center;
}

.personal-projects-wrapper {
  text-align: center;
  /* centers it to the opposite axis of what the flexbox is (flexbox distributes along the x axis, this will align it on the Y axis  */
  align-self: center;
}

.professional-projects-wrapper:hover {  
  border: 10px solid white ;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}

.personal-projects-wrapper:hover {  
  border: 10px solid white ;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}

.projects-gateway {
  text-decoration: none;
  color: white;
}

.about-me-trigger-wrapper {
  text-align: center;
}

@media only screen and (min-width: 501px) {
  /* desktop */
  .project-type-wrapper {
    font-size: 30px;
    margin-top: 5%;
    height: 600px;
  }

  .projects-gateway {
    font-size: 60px;
    padding: 10px;
  }
  
  .professional-projects-wrapper {
    margin-left: 5%;
  }

  .personal-projects-wrapper {
    margin-right: 5%;
  }

  .divider {
    border-left: 10px solid white;
    height: 600px;
    /* to keep the margin separate from the other border: 0 margin on top/bottom, 30px margin on left and right */
    margin: 0 30px;
  }
}

@media only screen and (max-width: 500px) {
  /* mobile */
  .project-type-wrapper {
    font-size: 14px; 
    margin-top: 10%; 
    height: 300px;
  }

  .projects-gateway {
    font-size: 30px;
  }

  .divider {
    border-left: 4px solid white;
    height: 300px;
    /* to keep the margin separate from the other border: 0 margin on top/bottom, 30px margin on left and right */
    margin: 0 30px;
  }
}

@media only screen and (max-width: 320px) {
  /* SMALL SCREEN mobile */
  .project-type-wrapper {
    font-size: 14px; 
    margin-top: 10%; 
    height: 300px;
  }

  .projects-gateway {
    font-size: 26px;
  }

  .divider {
    border-left: 4px solid white;
    height: 300px;
    /* to keep the margin separate from the other border: 0 margin on top/bottom, 30px margin on left and right */
    margin: 0 30px;
  }
}