

.intro-block-text, .intro-block-text-small {
  font-family: 'Oswald', sans-serif;
}

.intro-signature {
  font-family: 'Marck Script', cursive;
}

.intro-dev-text {
  color: #818D92;
}

.intro-hacker-text {
  color: #FFA69E;
}

.intro-hi {
  color: #B4EBCA;
}

@media only screen and (min-width: 501px) {
  /* desktop */
  .intro-text-wrapper {
    margin-top: 25vh;
    margin-left: 20px;
  }

  .intro-block-text  {
    font-size: 57px;
    margin: 0;
  }

  .intro-block-text-small {
    font-size: 25px;
    margin: 0;
  }
}

@media only screen and (max-width: 500px) {
  /* mobile */
  .intro-text-wrapper {
    margin-top: 20vh;
    margin-left: 20px;
  }

  .intro-block-text  {
    font-size: 32px;
    margin: 0;
  }

  .intro-block-text-small {
    font-size: 16px;
    margin: 0;
  }
}