.demo-heading {
  font-family: Catamaran-SemiBold;
  color: #FFA69E;
}

@media only screen and (min-width: 501px) {
  /* desktop */
  .demo-heading {
    font-size: 35px;
  }

  .demo-heading {
    padding: 0 0 0 112px;
  }

}

@media only screen and (max-width: 500px) {
  /* mobile */
  .demo-heading {
    padding: 0 0 0 15px;
  }
}






