.navbar {
  display: grid;
  grid-template-columns: 30% 70%;
}


.nav-buttons-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: end;
}

.nav-button, .navbar-title {
  color: #DCE0D9;
}

.nav-button {
  text-decoration: none;
  font-family: 'Oswald', sans-serif;
  
}

.navbar-title {
  color: #80a1c1;
  text-decoration: none;
  font-family: 'Oswald', sans-serif;
}

.nav-button:hover { 
  cursor: pointer;
  text-decoration: underline;
}

.navbar-title:hover {
  text-decoration: underline;
  cursor: pointer;
}


@media only screen and (min-width: 501px) {
  /* desktop */
  .navbar {
    font-size: 18px;
    padding: 20px 30px;
  }

  .nav-button, .navbar-title {
    font-size: 31px;
  }
}

@media only screen and (max-width: 500px) {
  /* mobile */
  .navbar {
    padding: 10px 15px;
  }
  
  .nav-button {
    font-size: 16px;
    margin: 2px;
  }

  .navbar-title {
    font-size: 16px;
  }
}


