.spinner {
  width: 50px;
  /* to center it */
  margin: 0 auto;
  height: 50px;
  /* make it round */
  border-radius: 50px;
  border-top: 3px solid white !important;
  border: 3px solid black;
  /* animation */
  animation: 1s spin ease-in-out infinite;
}

@keyframes spin {
  /* starting point */
  0% {
    transform: rotateZ(0deg)
  }

  100% {
    transform: rotateZ(360deg)
  }
}