.jumbo-wrapper {
  text-align: center;
  height: 100vh;
  background-color: gray;
}

.jumbo-heading {
  padding-top: 35vh;
  margin: auto;
  font-family: 'Pacifico', cursive;
  font-size: 6em;
  color: #9ADC6D;
}

.jumbo-text {
  font-family: 'Cookie', cursive;
  font-size: 3em;
  color: #9ADC6D;
  margin: 0;
}
