.jumbo-wrapper {
  text-align: center;
  height: 100vh;
  background-color: gray;
}

.jumbo-heading {
  padding-top: 40%;
  margin: auto;
  font-family: 'Pacifico', cursive;
  font-size: 4em;
  color: #9ADC6D;
}

.jumbo-text {
  font-family: 'Cookie', cursive;
  font-size: 2em;
  color: #9ADC6D;
}
