.project-link {
  text-decoration: none; 
  color: white;
  cursor: pointer;
  /* box-shadow: 2px 2px 1px 1px white; */
  border-bottom: 2px solid white;
  font-style: italic;
}

.project-link:hover {
  font-size: 40px;
  transition: 0.5s ease-in-out;
  font-style: italic;
  border: 1px solid white;
}

.extra-link {
  text-decoration: none; 
  color: white;
  font-weight: bold;
  font-style: italic;
}


@media only screen and (min-width: 501px) {
  /* desktop */
  .project-list-item-wrapper {
    width: 40%;
    margin: 10px;
  }

  .project-hero-image {
    max-width: 100%;
    height: auto;
  }

  .description-wrapper {
    margin: 20px;
  }

  .project-link {
    font-size: 30px;
  }

  .extra-link {
    margin: 10px;
  }
}

@media only screen and (max-width: 500px) {
  /* mobile */

  .project-list-item-wrapper {
    width: 90vw;
    padding: 40px 0;
  }

  .project-list-item-wrapper:not(:first-of-type) {
    /* all project-list-item-wrappers except the first */
    border-top: 1px solid white;
  }

  .project-hero-image {
    max-width: 100%;
    height: auto;
  }

  .project-description {
    max-width: 100%;
  }

  .project-link {
    font-size: 30px;
  }

  .extra-link {
    margin: 5px;
  }
}